@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans&display=swap");

:root {
  --primaryColor: #5fb7ea;
  --primaryRGBA: rgba(0, 0, 0, 0.3);
  --mainGrey: #fafafa;
  --darkGrey: #5f5e5e;
  --lightGrey: #cdcdcd;
  --gradientGrey: linear-gradient(90deg, rgba(205,205,205,1) 0%, rgba(250,250,250,1) 100%);
  --mainWhite: #fff;
  --mainBlack: #222;
  --mainTransition: all 0.3s ease-in-out;
  --mainSpacing: 0.3rem;

}

#root{
  overflow-x: hidden;
}

body {
  background: var(--mainGrey) !important;
  font-family: "Open Sans", sans-serif !important;
  color: var(--mainBlack);
}

.text-title {
  font-family: "Montserrat", "sans-serif";
  font-weight: bold;
  letter-spacing: var(--mainSpacing);
  text-transform: capitalize;
}

.text-main {
  color: var(--primaryColor);
}

.main-link {
  padding: 0.5rem 1rem;
  min-width:255px;
  text-align: center;
  background: var(--primaryColor);
  color: var(--mainWhite);
  font-size:14px;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: var(--mainSpacing);
  outline: 2px solid var(--primaryColor);
  outline-offset: 4px;
  border: none;
  transition: var(--mainTransition);
}
.main-link:hover {
  background: var(--darkGrey);
  text-decoration: none;
  color: var(--primaryColor);
  outline-color: var(--darkGrey);
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Styled scrollbar */

.styled-scrollbar::-webkit-scrollbar {
  width: 8px;
  position: absolute;
}

.styled-scrollbar::-webkit-scrollbar-track {
  border-radius: 10px;
}

.styled-scrollbar::-webkit-scrollbar-thumb {
  background: var(--primaryColor);
  border-radius: 10px;
}

/* 
div[class^="ant"] {
  color: #5fb7ea;
} */
